In [1]:
import pandas as pd

import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords


nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\300312139\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
train_set = pd.read_csv("climate_train.csv")
test_set = pd.read_csv("climate_test.csv")

In [3]:
tokenizer = RegexpTokenizer(r'\w+')
lemmatizer = WordNetLemmatizer()
stopwords = set(stopwords.words('english'))

def preprocessing(text):
    tokens = tokenizer.tokenize(text)
    after_stopwords = [word.lower() for word in tokens if word.lower() not in stopwords] 
    lemmas = [lemmatizer.lemmatize(word) for word in after_stopwords]

    return lemmas

In [13]:
test_set

     Unnamed: 0                                               text  label
0             0  Sustainable strategy ‘red lines’ For our susta...      1
1             1  Verizon’s environmental, health and safety man...      0
2             2  In 2019, the Company closed a series of transa...      1
3             3  In December 2020, the AUC approved the Electri...      0
4             4  Finally, there is a reputational risk linked t...      0
..          ...                                                ...    ...
315         315  Indirect emissions result from operational act...      0
316         316  All data in this TCFD report is as of, or for ...      0
317         317  Outcome: The bank explained that it would be w...      1
318         318  In 2020, Banco do Brasil Foundation celebrated...      1
319         319  Climate change is producing changes in weather...      0

[320 rows x 3 columns]

In [15]:
preprocessed_train_set = pd.DataFrame(train_set["text"].apply(preprocessing))
preprocessed_test_set = pd.DataFrame(test_set["text"].apply(preprocessing))

preprocessed_train_set['label'] = train_set['label']
preprocessed_test_set['label'] = test_set['label']

In [16]:
preprocessed_train_set

                                                  text  label
0    [scope, 3, optional, scope, includes, indirect...      0
1    [group, aware, noise, pollution, could, negati...      0
2    [global, climate, change, could, exacerbate, c...      0
3    [setting, investment, horizon, part, parcel, p...      1
4    [climate, change, physical, impact, climate, c...      0
..                                                 ...    ...
995  [greenhouse, gas, mitigation, measure, five, y...      1
996  [updated, external, sector, statement, include...      1
997  [storebrand, use, task, force, climate, relate...      0
998  [estimation, nanced, emission, indicate, indir...      0
999  [emission, ch4, account, approximately, 22, 2,...      0

[1000 rows x 2 columns]